# Project 4: Exploring the Seattle Airbnb Dataset (Part 1 - Reviews)

As part of the submission for the 4th Project in the Udacity Data Science Nanodegree, this notebook code from the analysis of the Seattle Airbnb dataset available on Kaggle: https://www.kaggle.com/airbnb/seattle/data.
Part 1 covers:

- Identifying positive and negative customer reviews/sentiment in the dataset 
- understanding customer sentiment and how it changed over time in different Seattle Neighbourhoods.

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import nltk
!python -m pip install langdetect
from langdetect import detect
import time
from translate import Translator as tran
import time
from googletrans import Translator
! pip install afinn
from afinn import Afinn
! pip install gensim
import gensim
import nltk

Requirement already satisfied: langdetect in c:\programdata\anaconda3\lib\site-packages (1.0.7)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from langdetect) (1.13.0)
Requirement already satisfied: afinn in c:\programdata\anaconda3\lib\site-packages (0.1)

In [297]:
#read in review data
reviews = pd.read_csv(r"C:\Users\Adetomiwa\Desktop\DATA SCIENCE DEGREE\Python\Project 4\seattle\reviews.csv")

In [405]:
reviews.shape

(84821, 8)

In [299]:
reviews.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,7202016,38917982,2015-07-19,28943674,Bianca,Cute and cozy place. Perfect location to every...
1,7202016,39087409,2015-07-20,32440555,Frank,Kelly has a great room in a very central locat...
2,7202016,39820030,2015-07-26,37722850,Ian,"Very spacious apartment, and in a great neighb..."
3,7202016,40813543,2015-08-02,33671805,George,Close to Seattle Center and all it has to offe...
4,7202016,41986501,2015-08-10,34959538,Ming,Kelly was a great host and very accommodating ...

In [300]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84849 entries, 0 to 84848
Data columns (total 6 columns):
listing_id       84849 non-null int64
id               84849 non-null int64
date             84849 non-null object
reviewer_id      84849 non-null int64
reviewer_name    84849 non-null object
comments         84831 non-null object
dtypes: int64(3), object(3)
memory usage: 3.9+ MB

In [301]:
# We'll drop the blank comment columns
reviews = reviews.dropna()

In [302]:
# Detect the languages of each comment for anomalies
comments = pd.DataFrame(reviews['comments'])
language = []
lang_index = []
errors = []
for index, row in comments.iterrows():
    try:
        language += [detect(str(comments.comments[index]))]
        lang_index += [index]
    except: 
        language += ['investigate']
        lang_index += [index]
        errors.append(index)
        print('this index gives an error:',index)

this index gives an error: 4300
this index gives an error: 8863
this index gives an error: 9112
this index gives an error: 10303
this index gives an error: 13890
this index gives an error: 28801
this index gives an error: 35051
this index gives an error: 51426
this index gives an error: 66132
this index gives an error: 67811
this index gives an error: 71206
this index gives an error: 77823

In [303]:
# Create a dataframe of the language values maintaining the original index of where they came from
lang_df = pd.DataFrame({'language':language}, index = lang_index)

In [406]:
# add, language to the dataframe, check how many languges to translate/investigate
reviews['language'] = lang_df
reviews['language'].value_counts()

en             83779
fr               239
de               211
zh-cn            160
es                79
ko                51
ro                42
nl                40
ja                29
pt                26
it                25
zh-tw             23
af                22
so                15
da                13
sv                10
ru                 8
no                 7
pl                 5
ca                 5
fi                 5
tl                 4
cy                 3
tr                 3
investigate        2
sl                 2
hr                 2
cs                 2
vi                 1
sw                 1
et                 1
el                 1
sk                 1
sq                 1
th                 1
fa                 1
hu                 1
Name: language, dtype: int64

In [484]:
# Let's grab the reviews we want to investigate

reviews[reviews['language'] == 'investigate']

Empty DataFrame
Columns: [listing_id, id, date, reviewer_id, reviewer_name, comments, language, en_comments]
Index: []

- We see 2 comments with happy reviews and will keep these comments :) 
- Other comments we expect to drop off with further preprocessing and cleansing

In [306]:
# replace happy smileys with 'I am happy' and update their language to english
reviews.loc[reviews.comments == ":)", 'comments'] = '"I am happy"'
reviews.loc[(reviews.comments == '"I am happy"') & (reviews.language == 'investigate'), 'language'] = 'en'

In [307]:
# Drop other 'investigate' languages.
reviews = reviews[reviews.language != 'investigate']
reviews

,listing_id,id,date,reviewer_id,reviewer_name,comments,language
0,7202016,38917982,2015-07-19,28943674,Bianca,Cute and cozy place. Perfect location to every...,en
1,7202016,39087409,2015-07-20,32440555,Frank,Kelly has a great room in a very central locat...,en
2,7202016,39820030,2015-07-26,37722850,Ian,"Very spacious apartment, and in a great neighb...",en
3,7202016,40813543,2015-08-02,33671805,George,Close to Seattle Center and all it has to offe...,en
4,7202016,41986501,2015-08-10,34959538,Ming,Kelly was a great host and very accommodating ...,en
...,...,...,...,...,...,...,...
84844,3624990,50436321,2015-10-12,37419458,Ryan,The description and pictures of the apartment ...,en
84845,3624990,51024875,2015-10-17,6933252,Linda,We had an excellent stay. It was clean and com...,en
84846,3624990,51511988,2015-10-20,19543701,Jaime,"Gran ubicación, cerca de todo lo atractivo del...",es
84847,3624990,52814482,2015-11-02,24445024,Jørgen,"Very good apartement, clean and well sized. Si...",en
84848,9727246,56429621,2015-12-13,30860360,Stephanie,"Breanne was a great host. Check in was easy, s...",en

In [438]:
# Tranlate function using Translate 

def translate_comments(df): 
    '''
    Translate the comments column of a dataframe
    df - dataframe containing comments
    result will append a column 'en_comments' which stores the english translation in the same dataframe
    '''
    translator = tran(to_lang = 'en')
    for idx, row in df.iterrows():
        if df.loc[idx, 'language'] != 'en':
            df.loc[idx, 'en_comments'] = translator.translate(row['comments'])
    return df

In [472]:
# Tranlate function using GoogleTrans 

def translate_comments_goog(df): 
    '''
    Translate the comments column of a dataframe
    df - dataframe containing comments
    result will append a column 'en_comments' which stores the english translation in the same dataframe
    '''
    
    for idx, row in df.iterrows():
        if df.loc[idx, 'language'] != 'en':
            source = df.loc[idx, 'language']
            translator = Translator()
            df.loc[idx, 'en_comments'] = translator.translate(row['comments'], src = source, dest = 'en').text
            time.sleep(1)
    return df

***Why are there 2 Translation functions?!***

I tested 2 different translation functions originally, as I was having trouble getting them to work. Ultimately got the google translate api working with a couple of tweaks: 

- Only passed a subset of non-english comments to be translated
- Added a sleep time of 1 second in between each iteration, given the google translate API limits within a certain time window. This added some processing time.

In [427]:
# define function to detect the language of the comments

def detect_lang(comments, df):
    
    '''
    pass the comments column to be evaluated to detect the language of the comments and append the result
    into the reviews dataframe.
    
    comments - the name of the column that contains customer comments
    df - The dataframe containing the comments to be translated
    The function will append a column 'language' to the original dataframe that was passed
    
    '''
    text = pd.DataFrame(df['comments'])
    language = []
    lang_index = []
    errors = []
    for index, row in text.iterrows():
        try:
            language += [detect(str(text.comments[index]))]
            lang_index += [index]
        except: 
            language += ['investigate']
            lang_index += [index]
            errors.append(index)
            print('this index gives an error:',index)
        df['language'] = pd.DataFrame({'language':language}, index = lang_index)
        
    return df['language'].value_counts()

In [470]:
# Identify the reviews to translate to english

translate_me = reviews[reviews.language != 'en']
translate_me

,listing_id,id,date,reviewer_id,reviewer_name,comments,language,en_comments
9,7202016,48388999,2015-09-26,38110731,Tatiana,"The place was really nice, clean, and the most...",es,"The place was really nice, clean, and the most..."
80,7735100,43837578,2015-08-22,40603512,Puhong,我们是一家三口，可爱的女儿，夫妻二人都是中国来的访问学者，来到美丽的西雅图，住在了Roger...,zh-cn,我们是一家三口，可爱的女儿，夫妻二人都是中国来的访问学者，来到美丽的西雅图，住在了Roger...
288,7550234,47535547,2015-09-20,40619236,Theo,Sehr gut,de,Sehr gut
301,7550234,56949077,2015-12-20,47521443,Ying,房间的描述与实际相符，离华盛顿西雅图分校很近，非常完美，干净且安静，wifi很好，早餐也比较...,zh-cn,房间的描述与实际相符，离华盛顿西雅图分校很近，非常完美，干净且安静，wifi很好，早餐也比较...
386,1205666,16974756,2014-08-05,14362449,Uwe,Sean und seine Frau Clara sind sehr freundlich...,de,Sean und seine Frau Clara sind sehr freundlich...
...,...,...,...,...,...,...,...,...
84121,6079131,46598039,2015-09-12,28649034,Martha Eugenia,"Fue agradable, los anfitriones preparan tu est...",es,"Fue agradable, los anfitriones preparan tu est..."
84217,264829,28179087,2015-03-19,28485297,Gele,nice place it stadies like home,af,nice place it stadies like home
84338,7619060,52305251,2015-10-27,20806545,Kevin,非常舒适安静的房子，床边有窗户，晚上睡觉可以看见星星月亮，房东非常热情，退房的时候我去机场，...,zh-cn,非常舒适安静的房子，床边有窗户，晚上睡觉可以看见星星月亮，房东非常热情，退房的时候我去机场，...
84378,4577542,44747593,2015-08-29,25805389,Sebastian,"Die Unterkunft war sehr schön und genau so, wi...",de,"Die Unterkunft war sehr schön und genau so, wi..."
84846,3624990,51511988,2015-10-20,19543701,Jaime,"Gran ubicación, cerca de todo lo atractivo del...",es,"Gran ubicación, cerca de todo lo atractivo del..."

In [474]:
# Translate non-english reviews

translate_comments_goog(translate_me)

,listing_id,id,date,reviewer_id,reviewer_name,comments,language,en_comments
9,7202016,48388999,2015-09-26,38110731,Tatiana,"The place was really nice, clean, and the most...",es,"The place was really nice, clean, and the Most..."
80,7735100,43837578,2015-08-22,40603512,Puhong,我们是一家三口，可爱的女儿，夫妻二人都是中国来的访问学者，来到美丽的西雅图，住在了Roger...,zh-cn,"We are a family of three, lovely daughter, hus..."
288,7550234,47535547,2015-09-20,40619236,Theo,Sehr gut,de,Very good
301,7550234,56949077,2015-12-20,47521443,Ying,房间的描述与实际相符，离华盛顿西雅图分校很近，非常完美，干净且安静，wifi很好，早餐也比较...,zh-cn,Description consistent with the reality of the...
386,1205666,16974756,2014-08-05,14362449,Uwe,Sean und seine Frau Clara sind sehr freundlich...,de,"Sean and his wife Clara are very friendly, att..."
...,...,...,...,...,...,...,...,...
84121,6079131,46598039,2015-09-12,28649034,Martha Eugenia,"Fue agradable, los anfitriones preparan tu est...",es,"It was nice, the hosts prepare your stay with ..."
84217,264829,28179087,2015-03-19,28485297,Gele,nice place it stadies like home,af,nice place it stadies like home
84338,7619060,52305251,2015-10-27,20806545,Kevin,非常舒适安静的房子，床边有窗户，晚上睡觉可以看见星星月亮，房东非常热情，退房的时候我去机场，...,zh-cn,"Very comfortable and quiet house, bed windows,..."
84378,4577542,44747593,2015-08-29,25805389,Sebastian,"Die Unterkunft war sehr schön und genau so, wi...",de,The accommodation was very nice and exactly as...
84846,3624990,51511988,2015-10-20,19543701,Jaime,"Gran ubicación, cerca de todo lo atractivo del...",es,"Great location, close to everything attractive..."

In [480]:
# Append newly translated reviews to the other reviews that were already english

english_comments = reviews[reviews.language == 'en']
reviews_en = english_comments.append(translate_me)

In [481]:
reviews_en

,listing_id,id,date,reviewer_id,reviewer_name,comments,language,en_comments
0,7202016,38917982,2015-07-19,28943674,Bianca,Cute and cozy place. Perfect location to every...,en,Cute and cozy place. Perfect location to every...
1,7202016,39087409,2015-07-20,32440555,Frank,Kelly has a great room in a very central locat...,en,Kelly has a great room in a very central locat...
2,7202016,39820030,2015-07-26,37722850,Ian,"Very spacious apartment, and in a great neighb...",en,"Very spacious apartment, and in a great neighb..."
3,7202016,40813543,2015-08-02,33671805,George,Close to Seattle Center and all it has to offe...,en,Close to Seattle Center and all it has to offe...
4,7202016,41986501,2015-08-10,34959538,Ming,Kelly was a great host and very accommodating ...,en,Kelly was a great host and very accommodating ...
...,...,...,...,...,...,...,...,...
84121,6079131,46598039,2015-09-12,28649034,Martha Eugenia,"Fue agradable, los anfitriones preparan tu est...",es,"It was nice, the hosts prepare your stay with ..."
84217,264829,28179087,2015-03-19,28485297,Gele,nice place it stadies like home,af,nice place it stadies like home
84338,7619060,52305251,2015-10-27,20806545,Kevin,非常舒适安静的房子，床边有窗户，晚上睡觉可以看见星星月亮，房东非常热情，退房的时候我去机场，...,zh-cn,"Very comfortable and quiet house, bed windows,..."
84378,4577542,44747593,2015-08-29,25805389,Sebastian,"Die Unterkunft war sehr schön und genau so, wi...",de,The accommodation was very nice and exactly as...
84846,3624990,51511988,2015-10-20,19543701,Jaime,"Gran ubicación, cerca de todo lo atractivo del...",es,"Great location, close to everything attractive..."

In [ ]:
# Preprocessing steps
# Removing accented characters
# Removing Special Characters
# Stemming
# Removing Stopwords

In [546]:
# Score Sentiment with Afinn
af = Afinn()

# compute sentiment scores (polarity) and labels
reviews_en['sentiment'] = [af.score(comment) for comment in reviews_en.en_comments]

Requirement already satisfied: afinn in c:\programdata\anaconda3\lib\site-packages (0.1)

In [547]:
reviews_en[reviews_en['sentiment']<0].sort_values('sentiment')

,listing_id,id,date,reviewer_id,reviewer_name,comments,language,en_comments,sentiment
67499,3528627,35373295,2015-06-18,29877821,Jun-Yan,"If you want to get disturbed everyday, have no...",en,"If you want to get disturbed everyday, have no...",-32.0
32404,3291777,14760768,2014-06-25,16881604,Annar,Melissa replied to our request and approved bu...,en,Melissa replied to our request and approved bu...,-25.0
71158,3449059,32507141,2015-05-19,29317777,Jane,"While the location of this place is great, we ...",en,"While the location of this place is great, we ...",-23.0
75564,1775016,21243349,2014-10-13,20072109,Anna,Staying at Robert’s place was a nightmare. At ...,en,Staying at Robert’s place was a nightmare. At ...,-22.0
78759,637710,17123011,2014-08-07,13045575,Kenneth,Clean only by the standards of a party or frat...,en,Clean only by the standards of a party or frat...,-20.0
...,...,...,...,...,...,...,...,...,...
45341,3890990,24790268,2015-01-02,21711664,Simon,This was a nice little house in Greenwood. The...,en,This was a nice little house in Greenwood. The...,-1.0
46236,557126,35065503,2015-06-15,27976281,Lauren,We met Chad who was very friendly and welcomin...,en,We met Chad who was very friendly and welcomin...,-1.0
46554,241032,35307619,2015-06-17,32540568,Leonardo,Maija - was very attentive and helped be flex...,en,Maija - was very attentive and helped be flex...,-1.0
40082,1163345,20100461,2014-09-23,17256405,Mia,First thing that needs to be noted is that the...,en,First thing that needs to be noted is that the...,-1.0
83777,1593939,14101145,2014-06-11,13412308,Jeanne-Helene,en fait il ne s'agit pas d'une chambre mais pl...,fr,in fact it is not a room but a single bed inst...,-1.0

In [554]:
#Import listings dataset to merge descriptive columns for the listings (location, neighbourhood.. etc)
listings = pd.read_csv(r"C:\Users\Adetomiwa\Desktop\DATA SCIENCE DEGREE\Python\Project 4\seattle\listings.csv")

In [555]:
listings.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,241032,https://www.airbnb.com/rooms/241032,20160104002432,2016-01-04,Stylish Queen Anne Apartment,NaN,Make your self at home in this charming one-be...,Make your self at home in this charming one-be...,none,NaN,...,10.0,f,NaN,WASHINGTON,f,moderate,f,f,2,4.07
1,953595,https://www.airbnb.com/rooms/953595,20160104002432,2016-01-04,Bright & Airy Queen Anne Apartment,Chemically sensitive? We've removed the irrita...,"Beautiful, hypoallergenic apartment in an extr...",Chemically sensitive? We've removed the irrita...,none,"Queen Anne is a wonderful, truly functional vi...",...,10.0,f,NaN,WASHINGTON,f,strict,t,t,6,1.48
2,3308979,https://www.airbnb.com/rooms/3308979,20160104002432,2016-01-04,New Modern House-Amazing water view,New modern house built in 2013. Spectacular s...,"Our house is modern, light and fresh with a wa...",New modern house built in 2013. Spectacular s...,none,Upper Queen Anne is a charming neighborhood fu...,...,10.0,f,NaN,WASHINGTON,f,strict,f,f,2,1.15
3,7421966,https://www.airbnb.com/rooms/7421966,20160104002432,2016-01-04,Queen Anne Chateau,A charming apartment that sits atop Queen Anne...,NaN,A charming apartment that sits atop Queen Anne...,none,NaN,...,NaN,f,NaN,WASHINGTON,f,flexible,f,f,1,NaN
4,278830,https://www.airbnb.com/rooms/278830,20160104002432,2016-01-04,Charming craftsman 3 bdm house,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,none,We are in the beautiful neighborhood of Queen ...,...,9.0,f,NaN,WASHINGTON,f,strict,f,f,1,0.89

In [570]:
# Choose the columns from the listing dataset to be joined to the reviews data
add_cols = listings[['street','neighbourhood_cleansed','latitude', 'longitude', 'property_type']]

#merge columns to create a new dataframe
reviews_final = pd.merge(reviews_en, add_cols, 
         left_on = reviews_en['listing_id'], 
         right_on = listings['id'], 
         how='left').drop(['key_0','id','reviewer_id','reviewer_name','comments'], axis =1)

In [577]:
reviews_final.head()

,listing_id,date,language,en_comments,sentiment,street,neighbourhood_cleansed,latitude,longitude,property_type
0,7202016,2015-07-19,en,Cute and cozy place. Perfect location to every...,5.0,"3rd Avenue West, Seattle, WA 98119, United States",Lower Queen Anne,47.62621,-122.360147,Apartment
1,7202016,2015-07-20,en,Kelly has a great room in a very central locat...,20.0,"3rd Avenue West, Seattle, WA 98119, United States",Lower Queen Anne,47.62621,-122.360147,Apartment
2,7202016,2015-07-26,en,"Very spacious apartment, and in a great neighb...",8.0,"3rd Avenue West, Seattle, WA 98119, United States",Lower Queen Anne,47.62621,-122.360147,Apartment
3,7202016,2015-08-02,en,Close to Seattle Center and all it has to offe...,3.0,"3rd Avenue West, Seattle, WA 98119, United States",Lower Queen Anne,47.62621,-122.360147,Apartment
4,7202016,2015-08-10,en,Kelly was a great host and very accommodating ...,18.0,"3rd Avenue West, Seattle, WA 98119, United States",Lower Queen Anne,47.62621,-122.360147,Apartment

In [1]:
# Check to ensure no blank values
reviews_final.info()

NameError: name 'reviews_final' is not defined

In [575]:
#Save processed data into a csv file
reviews_final.to_csv("reviews_final.csv")

# Project 4: Exploring the Seattle Airbnb Dataset (Part 2 - Neighbourhood Vibe)

Part 2 of the project dives into trying to understand the vibe of some of the top neighbourhoods through topic modelling.

In [564]:
# Read in Listings
listings = pd.read_csv(r"C:\Users\Adetomiwa\Desktop\DATA SCIENCE DEGREE\Python\Project 4\seattle\listings.csv")

In [565]:
listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 92 columns):
id                                  3818 non-null int64
listing_url                         3818 non-null object
scrape_id                           3818 non-null int64
last_scraped                        3818 non-null object
name                                3818 non-null object
summary                             3641 non-null object
space                               3249 non-null object
description                         3818 non-null object
experiences_offered                 3818 non-null object
neighborhood_overview               2786 non-null object
notes                               2212 non-null object
transit                             2884 non-null object
thumbnail_url                       3498 non-null object
medium_url                          3498 non-null object
picture_url                         3818 non-null object
xl_picture_url                      3498 non-null object
host_id                             3818 non-null int64
host_url                            3818 non-null object
host_name                           3816 non-null object
host_since                          3816 non-null object
host_location                       3810 non-null object
host_about                          2959 non-null object
host_response_time                  3295 non-null object
host_response_rate                  3295 non-null object
host_acceptance_rate                3045 non-null object
host_is_superhost                   3816 non-null object
host_thumbnail_url                  3816 non-null object
host_picture_url                    3816 non-null object
host_neighbourhood                  3518 non-null object
host_listings_count                 3816 non-null float64
host_total_listings_count           3816 non-null float64
host_verifications                  3818 non-null object
host_has_profile_pic                3816 non-null object
host_identity_verified              3816 non-null object
street                              3818 non-null object
neighbourhood                       3402 non-null object
neighbourhood_cleansed              3818 non-null object
neighbourhood_group_cleansed        3818 non-null object
city                                3818 non-null object
state                               3818 non-null object
zipcode                             3811 non-null object
market                              3818 non-null object
smart_location                      3818 non-null object
country_code                        3818 non-null object
country                             3818 non-null object
latitude                            3818 non-null float64
longitude                           3818 non-null float64
is_location_exact                   3818 non-null object
property_type                       3817 non-null object
room_type                           3818 non-null object
accommodates                        3818 non-null int64
bathrooms                           3802 non-null float64
bedrooms                            3812 non-null float64
beds                                3817 non-null float64
bed_type                            3818 non-null object
amenities                           3818 non-null object
square_feet                         97 non-null float64
price                               3818 non-null object
weekly_price                        2009 non-null object
monthly_price                       1517 non-null object
security_deposit                    1866 non-null object
cleaning_fee                        2788 non-null object
guests_included                     3818 non-null int64
extra_people                        3818 non-null object
minimum_nights                      3818 non-null int64
maximum_nights                      3818 non-null int64
calendar_updated                    3818 non-null object
has_availability                    3818 non-null object
availability_30                     3818 non-null int64
availability_60                     3818 non-null int64
availability_90                     3818 non-null int64
availability_365                    3818 non-null int64
calendar_last_scraped               3818 non-null object
number_of_reviews                   3818 non-null int64
first_review                        3191 non-null object
last_review                         3191 non-null object
review_scores_rating                3171 non-null float64
review_scores_accuracy              3160 non-null float64
review_scores_cleanliness           3165 non-null float64
review_scores_checkin               3160 non-null float64
review_scores_communication         3167 non-null float64
review_scores_location              3163 non-null float64
review_scores_value                 3162 non-null float64
requires_license                    3818 non-null object
license                             0 non-null float64
jurisdiction_names                  3818 non-null object
instant_bookable                    3818 non-null object
cancellation_policy                 3818 non-null object
require_guest_profile_picture       3818 non-null object
require_guest_phone_verification    3818 non-null object
calculated_host_listings_count      3818 non-null int64
reviews_per_month                   3191 non-null float64
dtypes: float64(17), int64(13), object(62)
memory usage: 2.7+ MB

In [566]:
# we'll select the cleansed neighbouhoods and neighbouhood overview columns 
subset = ["neighbourhood_cleansed","neighborhood_overview"]
listings_new = listings[subset]

In [567]:
listings_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 2 columns):
neighbourhood_cleansed    3818 non-null object
neighborhood_overview     2786 non-null object
dtypes: object(2)
memory usage: 59.8+ KB

In [568]:
# Filter out the null values
listings_new = listings_new[listings_new['neighborhood_overview'].notnull()]

In [569]:
# A glance at value counts for each neighbourhood
listings_new['neighbourhood_cleansed'].value_counts()

Broadway             266
Belltown             146
Wallingford          146
Fremont              122
Minor                108
                    ...
Arbor Heights          4
Holly Park             3
South Beacon Hill      3
Roxhill                2
South Park             1
Name: neighbourhood_cleansed, Length: 87, dtype: int64

**NOTES**

We'll be viewing topics in 3 of the top neighbourhoods

- Broadway
- Belltown
- Wallingford

In [744]:
broadway = listings_new.loc[listings_new['neighbourhood_cleansed'] == 'Broadway']
broadway

     neighbourhood_cleansed                              neighborhood_overview
2577               Broadway  This location sits in the middle between Capit...
2579               Broadway  The flat is smack dab in the middle of Capitol...
2582               Broadway  We love everything about this (URL HIDDEN) is ...
2584               Broadway  Capitol Hill is fun for any age, there are man...
2586               Broadway  Capitol Hill is one of the fastest growing, ec...
...                     ...                                                ...
2964               Broadway  Situated on the eastern bench of downtown our ...
2966               Broadway  Capitol Hill is the best of both worlds--quiet...
2968               Broadway  I live right on 15th avenue where there are so...
2969               Broadway  Capitol Hill is one of the best Seattle neighb...
2971               Broadway  The library is 1 block away QFC 2 blocks Pizza...

[266 rows x 2 columns]

In [745]:
broadway = broadway.drop('neighbourhood_cleansed', axis =1)

In [746]:
exclude = ['capitol','hill', 'seattle', 'neighbourhood', 'neighborhood','walk','walking']
broadway["neighborhood_overview"] = broadway["neighborhood_overview"].str.lower().str.split().apply(lambda x: [item for item in x if item not in exclude])

In [747]:
broadway

                                  neighborhood_overview
2577  [this, location, sits, in, the, middle, betwee...
2579  [the, flat, is, smack, dab, in, the, middle, o...
2582  [we, love, everything, about, this, (url, hidd...
2584  [is, fun, for, any, age,, there, are, many, ac...
2586  [is, one, of, the, fastest, growing,, eclectic...
...                                                 ...
2964  [situated, on, the, eastern, bench, of, downto...
2966  [is, the, best, of, both, worlds--quiet, resid...
2968  [i, live, right, on, 15th, avenue, where, ther...
2969  [is, one, of, the, best, neighborhoods!, it, i...
2971  [the, library, is, 1, block, away, qfc, 2, blo...

[266 rows x 1 columns]

In [749]:
broadway.to_csv("broadway.csv")

In [769]:
belltown = listings_new.loc[listings_new['neighbourhood_cleansed'] == 'Belltown']
belltown = belltown.drop('neighbourhood_cleansed', axis =1)
belltown["neighborhood_overview"] = belltown["neighborhood_overview"].str.lower().str.split().apply(lambda x: [item for item in x if item not in exclude])
belltown.to_csv("belltown.csv")

In [770]:
wallingford = listings_new.loc[listings_new['neighbourhood_cleansed'] == 'Wallingford']
wallingford = wallingford.drop('neighbourhood_cleansed', axis =1)
wallingford["neighborhood_overview"] = wallingford["neighborhood_overview"].str.lower().str.split().apply(lambda x: [item for item in x if item not in exclude])
wallingford.to_csv("Wallingford.csv")

In [590]:
# Function to tokenize and remove stopwords, stem

from gensim.parsing.preprocessing import preprocess_string

def process_text(df):
    df['text'] = df['neighborhood_overview'].apply(lambda x: preprocess_string(str(x)))
                                      
    return df

In [591]:
process_text(broadway)

,neighborhood_overview,text
2577,"[this, location, sits, in, the, middle, betwee...","[locat, sit, middl, lake, union, area, heart, ..."
2579,"[the, flat, is, smack, dab, in, the, middle, o...","[flat, smack, dab, middl, hill, cal, anderson,..."
2582,"[we, love, everything, about, this, (url, hidd...","[love, url, hidden, eclect, need, distanc]"
2584,"[is, fun, for, any, age,, there, are, many, ac...","[fun, ag, activ, coffe, shop, park, bar, resta..."
2586,"[is, one, of, the, fastest, growing,, eclectic...","[fastest, grow, eclect, access, neighborhood, ..."
...,...,...
2964,"[situated, on, the, eastern, bench, of, downto...","[situat, eastern, bench, downtown, amaz, centr..."
2966,"[is, the, best, of, both, worlds--quiet, resid...","[best, world, quiet, residenti, street, featur..."
2968,"[i, live, right, on, 15th, avenue, where, ther...","[live, right, avenu, restaur, bar, coffe, shop..."
2969,"[is, one, of, the, best, neighborhoods!, it, i...","[best, neighborhood, fill, local, cultur, grea..."
2971,"[the, library, is, 1, block, away, qfc, 2, blo...","[librari, block, awai, qfc, block, pizza, thai..."

In [592]:
result_broad = process_text(broadway).drop('neighborhood_overview',axis =1)

In [593]:
result_broad

                                                   text
2577  [locat, sit, middl, lake, union, area, heart, ...
2579  [flat, smack, dab, middl, hill, cal, anderson,...
2582         [love, url, hidden, eclect, need, distanc]
2584  [fun, ag, activ, coffe, shop, park, bar, resta...
2586  [fastest, grow, eclect, access, neighborhood, ...
...                                                 ...
2964  [situat, eastern, bench, downtown, amaz, centr...
2966  [best, world, quiet, residenti, street, featur...
2968  [live, right, avenu, restaur, bar, coffe, shop...
2969  [best, neighborhood, fill, local, cultur, grea...
2971  [librari, block, awai, qfc, block, pizza, thai...

[266 rows x 1 columns]

In [735]:
df = pd.Series(sum([item for item in result_broad.text], [])).value_counts().head(10)
df

restaur     189
park        156
bar         152
block       146
downtown    127
shop        126
seattl      118
locat       109
awai        107
minut       102
dtype: int64

In [595]:
from gensim.corpora.dictionary import Dictionary
from gensim.models import HdpModel

broadway_dict = Dictionary(result_broad['text'])

In [596]:
broadway_dict.token2id

{'anderson': 0,
 'area': 1,
 'attract': 2,
 'bring': 3,
 'broadwai': 4,
 'busi': 5,
 'cal': 6,
 'children': 7,
 'citi': 8,
 'cloth': 9,
 'coffeehous': 10,
 'commun': 11,
 'compani': 12,
 'corridor': 13,
 'cut': 14,
 'dip': 15,
 'divers': 16,
 'dog': 17,
 'downtown': 18,
 'easi': 19,
 'edg': 20,
 'exist': 21,
 'farmer': 22,
 'fastest': 23,
 'feel': 24,
 'fiesta': 25,
 'fit': 26,
 'flower': 27,
 'food': 28,
 'fountain': 29,
 'frisbe': 30,
 'furnitur': 31,
 'group': 32,
 'grow': 33,
 'heart': 34,
 'highlight': 35,
 'hip': 36,
 'home': 37,
 'huge': 38,
 'includ': 39,
 'lake': 40,
 'lakefront': 41,
 'life': 42,
 'like': 43,
 'locat': 44,
 'market': 45,
 'middl': 46,
 'music': 47,
 'neighborhood': 48,
 'park': 49,
 'peopl': 50,
 'pike': 51,
 'pine': 52,
 'place': 53,
 'player': 54,
 'season': 55,
 'seattl': 56,
 'shop': 57,
 'sit': 58,
 'small': 59,
 'state': 60,
 'stereotyp': 61,
 'store': 62,
 'stream': 63,
 'toe': 64,
 'town': 65,
 'union': 66,
 'urba': 67,
 'urban': 68,
 'varieti': 69,
 'vibe': 70,
 'vibrant': 71,
 'vintag': 72,
 'walk': 73,
 'walker': 74,
 'wood': 75,
 'activ': 76,
 'conveni': 77,
 'creativ': 78,
 'dab': 79,
 'dens': 80,
 'desir': 81,
 'distanc': 82,
 'flat': 83,
 'hill': 84,
 'line': 85,
 'liter': 86,
 'night': 87,
 'popul': 88,
 'smack': 89,
 'street': 90,
 'tree': 91,
 'eclect': 92,
 'hidden': 93,
 'love': 94,
 'need': 95,
 'url': 96,
 'ag': 97,
 'art': 98,
 'bar': 99,
 'center': 100,
 'club': 101,
 'coffe': 102,
 'fun': 103,
 'groceri': 104,
 'needl': 105,
 'quick': 106,
 'restaur': 107,
 'sam': 108,
 'space': 109,
 'venu': 110,
 'waterfront': 111,
 'access': 112,
 'block': 113,
 'bustl': 114,
 'cuisin': 115,
 'easili': 116,
 'excit': 117,
 'great': 118,
 'happi': 119,
 'haut': 120,
 'hour': 121,
 'insid': 122,
 'jump': 123,
 'major': 124,
 'offer': 125,
 'pacif': 126,
 'perfectli': 127,
 'point': 128,
 'privaci': 129,
 'sens': 130,
 'situat': 131,
 'specialti': 132,
 'spot': 133,
 'unit': 134,
 'walkscor': 135,
 'awai': 136,
 'blue': 137,
 'build': 138,
 'burger': 139,
 'central': 140,
 'chocol': 141,
 'close': 142,
 'dilettant': 143,
 'espresso': 144,
 'feet': 145,
 'mile': 146,
 'moon': 147,
 'nightlif': 148,
 'noodl': 149,
 'pho': 150,
 'qfc': 151,
 'rental': 152,
 'tashkent': 153,
 'vicac': 154,
 'zipcar': 155,
 'apart': 156,
 'busiest': 157,
 'corner': 158,
 'end': 159,
 'entertain': 160,
 'floor': 161,
 'littl': 162,
 'mercer': 163,
 'minut': 164,
 'nearbi': 165,
 'old': 166,
 'plenti': 167,
 'quiet': 168,
 'right': 169,
 'second': 170,
 'strip': 171,
 'airport': 172,
 'bu': 173,
 'cargo': 174,
 'convent': 175,
 'cook': 176,
 'delici': 177,
 'dick': 178,
 'direct': 179,
 'door': 180,
 'extrem': 181,
 'famou': 182,
 'gate': 183,
 'got': 184,
 'happen': 185,
 'innov': 186,
 'isn': 187,
 'kitchen': 188,
 'light': 189,
 'link': 190,
 'local': 191,
 'prefer': 192,
 'ride': 193,
 'score': 194,
 'smell': 195,
 'stai': 196,
 'stone': 197,
 'stop': 198,
 'sundai': 199,
 'surpris': 200,
 'throw': 201,
 'travel': 202,
 'truli': 203,
 'uber': 204,
 'uniqu': 205,
 'weekend': 206,
 'westlak': 207,
 'amazon': 208,
 'drive': 209,
 'fabul': 210,
 'hous': 211,
 'huski': 212,
 'medic': 213,
 'south': 214,
 'stadium': 215,
 'step': 216,
 'univers': 217,
 'assur': 218,
 'authent': 219,
 'cultur': 220,
 'embodi': 221,
 'live': 222,
 'thing': 223,
 'true': 224,
 'visit': 225,
 'high': 226,
 'histor': 227,
 'lgbt': 228,
 'queer': 229,
 'visibl': 230,
 'baron': 231,
 'built': 232,
 'nice': 233,
 'surround': 234,
 'timber': 235,
 'arboretum': 236,
 'av': 237,
 'basic': 238,
 'best': 239,
 'coi': 240,
 'district': 241,
 'duck': 242,
 'east': 243,
 'emp': 244,
 'give': 245,
 'goe': 246,
 'jog': 247,
 'kei': 248,
 'larger': 249,
 'low': 250,
 'museum': 251,
 'north': 252,
 'picnic': 253,
 'pond': 254,
 'public': 255,
 'scene': 256,
 'semi': 257,
 'transport': 258,
 'volunt': 259,
 'wai': 260,
 'west': 261,
 'wilder': 262,
 'asian': 263,
 'cafe': 264,
 'charm': 265,
 'dose': 266,
 'experi': 267,
 'explor': 268,
 'extra': 269,
 'favorit': 270,
 'hop': 271,
 'independ': 272,
 'min': 273,
 'person': 274,
 'plu': 275,
 'pocket': 276,
 'pub': 277,
 'punk': 278,
 'quaint': 279,
 'relax': 280,
 'world': 281,
 'classic': 282,
 'enjoi': 283,
 'icon': 284,
 'open': 285,
 'panoram': 286,
 'rooftop': 287,
 'view': 288,
 'welcom': 289,
 'effici': 290,
 'fingertip': 291,
 'chuki': 292,
 'daddi': 293,
 'lather': 294,
 'laundri': 295,
 'momiji': 296,
 'safewai': 297,
 'super': 298,
 'sushi': 299,
 'taco': 300,
 'beat': 301,
 'bias': 302,
 'bit': 303,
 'chill': 304,
 'eateri': 305,
 'mere': 306,
 'nestl': 307,
 'residenti': 308,
 'want': 309,
 'come': 310,
 'comfort': 311,
 'fanci': 312,
 'friendli': 313,
 'real': 314,
 'time': 315,
 'coupl': 316,
 'kid': 317,
 'beauti': 318,
 'campu': 319,
 'grocer': 320,
 'popular': 321,
 'qualiti': 322,
 'retail': 323,
 'attend': 324,
 'capitol': 325,
 'charact': 326,
 'confer': 327,
 'gym': 328,
 'ideal': 329,
 'interest': 330,
 'known': 331,
 'loung': 332,
 'main': 333,
 'make': 334,
 'studio': 335,
 'supermarket': 336,
 'sure': 337,
 'yoga': 338,
 'admir': 339,
 'prettiest': 340,
 'action': 341,
 'immedi': 342,
 'instant': 343,
 'micro': 344,
 'caff': 345,
 'choic': 346,
 'eat': 347,
 'unparallel': 348,
 'vita': 349,
 'vivac': 350,
 'attach': 351,
 'attl': 352,
 'dai': 353,
 'differ': 354,
 'hit': 355,
 'kada': 356,
 'look': 357,
 'lot': 358,
 'makna': 359,
 'malaysian': 360,
 'paid': 361,
 'purr': 362,
 'sight': 363,
 'try': 364,
 'victrola': 365,
 'week': 366,
 'al': 367,
 'architectur': 368,
 'baltic': 369,
 'bike': 370,
 'brewhous': 371,
 'caffe': 372,
 'canturburi': 373,
 'chapel': 374,
 'coastal': 375,
 'colleg': 376,
 'elysian': 377,
 'farther': 378,
 'gold': 379,
 'hopvin': 380,
 'ignatiu': 381,
 'incred': 382,
 'jai': 383,
 'ladro': 384,
 'liberti': 385,
 'milkshak': 386,
 'project': 387,
 'room': 388,
 'short': 389,
 'smith': 390,
 'stumptown': 391,
 'tango': 392,
 'thai': 393,
 'vivach': 394,
 'washington': 395,
 'allianc': 396,
 'boat': 397,
 'cancer': 398,
 'care': 399,
 'cottag': 400,
 'flagship': 401,
 'fred': 402,
 'histori': 403,
 'hutchinson': 404,
 'industri': 405,
 'rei': 406,
 'research': 407,
 'slope': 408,
 'wooden': 409,
 'boutiqu': 410,
 'everybodi': 411,
 'hundr': 412,
 'brunch': 413,
 'chacha': 414,
 'chop': 415,
 'cocktail': 416,
 'countless': 417,
 'cream': 418,
 'danc': 419,
 'dawn': 420,
 'dinner': 421,
 'drink': 422,
 'ethiopian': 423,
 'far': 424,
 'get': 425,
 'glo': 426,
 'havana': 427,
 'head': 428,
 'ic': 429,
 'italian': 430,
 'joint': 431,
 'julia': 432,
 'larg': 433,
 'linda': 434,
 'molli': 435,
 'neighbor': 436,
 'neumo': 437,
 'oddfellow': 438,
 'option': 439,
 'parlor': 440,
 'pilat': 441,
 'pretti': 442,
 'record': 443,
 'rock': 444,
 'suei': 445,
 'thrive': 446,
 'till': 447,
 'upstair': 448,
 'vietnames': 449,
 'year': 450,
 'entic': 451,
 'fair': 452,
 'visitor': 453,
 'dine': 454,
 'fantast': 455,
 'galleri': 456,
 'librari': 457,
 'slu': 458,
 'transit': 459,
 'upscal': 460,
 'encourag': 461,
 'dessert': 462,
 'ferri': 463,
 'lgbtq': 464,
 'paramount': 465,
 'roasteri': 466,
 'starbuck': 467,
 'theatr': 468,
 'wheel': 469,
 'addit': 470,
 'apt': 471,
 'arcad': 472,
 'centuri': 473,
 'endless': 474,
 'field': 475,
 'let': 476,
 'nois': 477,
 'pinbal': 478,
 'safeco': 479,
 'speakeasi': 480,
 'outsid': 481,
 'pagliacci': 482,
 'phenomen': 483,
 'pizza': 484,
 'unbeat': 485,
 'altern': 486,
 'birthplac': 487,
 'breweri': 488,
 'capit': 489,
 'epicent': 490,
 'foodi': 491,
 'grung': 492,
 'host': 493,
 'lifestyl': 494,
 'rememb': 495,
 'theater': 496,
 'bed': 497,
 'hustl': 498,
 'road': 499,
 'roll': 500,
 'brandon': 501,
 'brick': 502,
 'bruce': 503,
 'cemeteri': 504,
 'commerci': 505,
 'conservatori': 506,
 'degre': 507,
 'dozen': 508,
 'grave': 509,
 'invert': 510,
 'lee': 511,
 'oliv': 512,
 'path': 513,
 'pioneer': 514,
 'playfield': 515,
 'playground': 516,
 'region': 517,
 'reservoir': 518,
 'sport': 519,
 'tower': 520,
 'water': 521,
 'ask': 522,
 'concert': 523,
 'crepe': 524,
 'joe': 525,
 'provid': 526,
 'recommend': 527,
 'ton': 528,
 'cabin': 529,
 'choos': 530,
 'donut': 531,
 'drawn': 532,
 'guid': 533,
 'hand': 534,
 'neatest': 535,
 'radiu': 536,
 'toppot': 537,
 'wait': 538,
 'amaz': 539,
 'cup': 540,
 'mix': 541,
 'morn': 542,
 'northern': 543,
 'swing': 544,
 'thursdai': 545,
 'wonder': 546,
 'activist': 547,
 'artist': 548,
 'know': 549,
 'youth': 550,
 'border': 551,
 'foot': 552,
 'site': 553,
 'cheap': 554,
 'long': 555,
 'abound': 556,
 'aplenti': 557,
 'avenu': 558,
 'bookstor': 559,
 'brows': 560,
 'charl': 561,
 'colorfulli': 562,
 'convert': 563,
 'cute': 564,
 'edgi': 565,
 'eleg': 566,
 'face': 567,
 'john': 568,
 'mansion': 569,
 'melros': 570,
 'modern': 571,
 'movi': 572,
 'musician': 573,
 'occupi': 574,
 'olmst': 575,
 'paint': 576,
 'pike–pin': 577,
 'pleasant': 578,
 'quirki': 579,
 'rise': 580,
 'run': 581,
 'slightli': 582,
 'stori': 583,
 'stre': 584,
 'student': 585,
 'tattoo': 586,
 'thump': 587,
 'warehous': 588,
 'young': 589,
 'believ': 590,
 'gai': 591,
 'hipster': 592,
 'list': 593,
 'map': 594,
 'pikepinetriangl': 595,
 'pump': 596,
 'rest': 597,
 'search': 598,
 'web': 599,
 'yuppi': 600,
 'constantli': 601,
 'deck': 602,
 'denni': 603,
 'distac': 604,
 'flow': 605,
 'hang': 606,
 'human': 607,
 'out': 608,
 'pepper': 609,
 'restur': 610,
 'river': 611,
 'watch': 612,
 'car': 613,
 'have': 614,
 'highli': 615,
 'rough': 616,
 'suggest': 617,
 'unfortun': 618,
 'zone': 619,
 'altura': 620,
 'bai': 621,
 'better': 622,
 'boast': 623,
 'book': 624,
 'buslin': 625,
 'elliot': 626,
 'grab': 627,
 'poppi': 628,
 'rate': 629,
 'restauar': 630,
 'roi': 631,
 'trader': 632,
 'walgreen': 633,
 'color': 634,
 'own': 635,
 'current': 636,
 'egyptian': 637,
 'marron': 638,
 'nightclub': 639,
 'trendi': 640,
 'move': 641,
 'nyc': 642,
 'recent': 643,
 'resembl': 644,
 'smaller': 645,
 'vastli': 646,
 'breakfast': 647,
 'late': 648,
 'lunch': 649,
 'madison': 650,
 'destin': 651,
 'equal': 652,
 'perfect': 653,
 'bikeabl': 654,
 'bikescor': 655,
 'class': 656,
 'daili': 657,
 'errand': 658,
 'good': 659,
 'lane': 660,
 'paradis': 661,
 'rider': 662,
 'steephil': 663,
 'airbnb': 664,
 'cool': 665,
 'email': 666,
 'free': 667,
 'request': 668,
 'special': 669,
 'text': 670,
 'cannon': 671,
 'cotto': 672,
 'date': 673,
 'diner': 674,
 'hub': 675,
 'knee': 676,
 'liqueur': 677,
 'mamnoon': 678,
 'margeri': 679,
 'mixolog': 680,
 'monk': 681,
 'pie': 682,
 'plata': 683,
 'press': 684,
 'shellfish': 685,
 'shot': 686,
 'singl': 687,
 'skillet': 688,
 'stock': 689,
 'stumbl': 690,
 'summit': 691,
 'sun': 692,
 'taylor': 693,
 'terra': 694,
 'thread': 695,
 'analog': 696,
 'basebal': 697,
 'closest': 698,
 'etal': 699,
 'isamu': 700,
 'lakeview': 701,
 'mil': 702,
 'mini': 703,
 'musuem': 704,
 'nap': 705,
 'noguchi': 706,
 'patch': 707,
 'plai': 708,
 'sculptur': 709,
 'shadi': 710,
 'soccer': 711,
 'son': 712,
 'thoma': 713,
 'folk': 714,
 'safe': 715,
 'wild': 716,
 'codefellow': 717,
 'techstar': 718,
 'goos': 719,
 'harrison': 720,
 'nightcap': 721,
 'wander': 722,
 'promin': 723,
 'big': 724,
 'cab': 725,
 'chain': 726,
 'concentr': 727,
 'countercultur': 728,
 'dept': 729,
 'higher': 730,
 'unlik': 731,
 'walkabl': 732,
 'caphil': 733,
 'section': 734,
 'amen': 735,
 'commut': 736,
 'inexpens': 737,
 'rail': 738,
 'taxi': 739,
 'tourist': 740,
 'cater': 741,
 'cycl': 742,
 'hospit': 743,
 'judgment': 744,
 'pleasur': 745,
 'pronto': 746,
 'share': 747,
 'spd': 748,
 'station': 749,
 'us': 750,
 'bunch': 751,
 'cap': 752,
 'pot': 753,
 'progress': 754,
 'deep': 755,
 'louder': 756,
 'mind': 757,
 'minuet': 758,
 'patron': 759,
 'probabl': 760,
 'root': 761,
 'sleeper': 762,
 'sound': 763,
 'edm': 764,
 'liber': 765,
 'atmospher': 766,
 'bad': 767,
 'barjot': 768,
 'bellevu': 769,
 'belltown': 770,
 'fresh': 771,
 'help': 772,
 'juic': 773,
 'kind': 774,
 'liquor': 775,
 'lookout': 776,
 'maitai': 777,
 'newish': 778,
 'notsogood': 779,
 'order': 780,
 'saloon': 781,
 'surprisingli': 782,
 'tavern': 783,
 'tintinnabul': 784,
 'necessari': 785,
 'arena': 786,
 'bauhau': 787,
 'bicyclist': 788,
 'chutnei': 789,
 'cobain': 790,
 'grill': 791,
 'hall': 792,
 'imax': 793,
 'kurt': 794,
 'landmark': 795,
 'landro': 796,
 'nort': 797,
 'samu': 798,
 'scienc': 799,
 'viretta': 800,
 'chang': 801,
 'goodi': 802,
 'intersect': 803,
 'snack': 804,
 'dynam': 805,
 'famili': 806,
 'go': 807,
 'gourmet': 808,
 'guest': 809,
 'internation': 810,
 'possibl': 811,
 'spa': 812,
 'wrote': 813,
 'acclaim': 814,
 'ada': 815,
 'agora': 816,
 'award': 817,
 'bakeri': 818,
 'complet': 819,
 'gave': 820,
 'greek': 821,
 'jamjure': 822,
 'mara': 823,
 'natur': 824,
 'nouveau': 825,
 'pick': 826,
 'remedi': 827,
 'tast': 828,
 'tea': 829,
 'win': 830,
 'wine': 831,
 'act': 832,
 'half': 833,
 'mezcaleria': 834,
 'oxaca': 835,
 'afternoon': 836,
 'barista': 837,
 'broadcast': 838,
 'fan': 839,
 'hei': 840,
 'hotspot': 841,
 'latt': 842,
 'nighttim': 843,
 'pour': 844,
 'prime': 845,
 'sunni': 846,
 'ultim': 847,
 'vacat': 848,
 'beverag': 849,
 'cairo': 850,
 'dive': 851,
 'doughnut': 852,
 'ethnic': 853,
 'excel': 854,
 'featur': 855,
 'gift': 856,
 'indian': 857,
 'leisur': 858,
 'non': 859,
 'particularli': 860,
 'pastri': 861,
 'prohibit': 862,
 'quintessenti': 863,
 'style': 864,
 'summer': 865,
 'vegan': 866,
 'work': 867,
 'on': 868,
 'pizzeria': 869,
 'proxim': 870,
 'toscana': 871,
 'wale': 872,
 'fill': 873,
 'nightspot': 874,
 'judgement': 875,
 'eccentr': 876,
 'imagin': 877,
 'actor': 878,
 'boren': 879,
 'breathtak': 880,
 'buri': 881,
 'cascad': 882,
 'expens': 883,
 'film': 884,
 'found': 885,
 'louisa': 886,
 'martial': 887,
 'millionair': 888,
 'mountain': 889,
 'oldest': 890,
 'overlook': 891,
 'peac': 892,
 'plant': 893,
 'rang': 894,
 'row': 895,
 'safest': 896,
 'spectacular': 897,
 'tropic': 898,
 'base': 899,
 'bumbershoot': 900,
 'catch': 901,
 'event': 902,
 'fest': 903,
 'festiv': 904,
 'folklif': 905,
 'northwest': 906,
 'parti': 907,
 'plan': 908,
 'pride': 909,
 'seafair': 910,
 'thoroughfar': 911,
 'upcom': 912,
 'ballroom': 913,
 'barboza': 914,
 'coolest': 915,
 'loos': 916,
 'pettirosso': 917,
 'coffeeshop': 918,
 'liveliest': 919,
 'northeast': 920,
 'quieter': 921,
 'balconi': 922,
 'blockparti': 923,
 'bookshop': 924,
 'bookworm': 925,
 'grass': 926,
 'lie': 927,
 'sold': 928,
 'tale': 929,
 'technic': 930,
 'twice': 931,
 'abil': 932,
 'flavor': 933,
 'abund': 934,
 'aren': 935,
 'bowl': 936,
 'clothier': 937,
 'communitycolleg': 938,
 'cornish': 939,
 'decad': 940,
 'falafel': 941,
 'fare': 942,
 'fish': 943,
 'gather': 944,
 'hamburg': 945,
 'pad': 946,
 'pet': 947,
 'piroshki': 948,
 'ridg': 949,
 'sate': 950,
 'servic': 951,
 'treat': 952,
 '‘anim': 953,
 'soon': 954,
 'academi': 955,
 'chamber': 956,
 'check': 957,
 'exhibit': 958,
 'forum': 959,
 'fro': 960,
 'gage': 961,
 'hugo': 962,
 'lectur': 963,
 'moor': 964,
 'nightli': 965,
 'perform': 966,
 'read': 967,
 'sculpt': 968,
 'see': 969,
 'show': 970,
 'skylin': 971,
 'spend': 972,
 'steep': 973,
 'sunris': 974,
 'sunset': 975,
 'veloc': 976,
 'biggest': 977,
 'box': 978,
 'casual': 979,
 'curtain': 980,
 'elliott': 981,
 'japanes': 982,
 'karaok': 983,
 'kedai': 984,
 'machiavelli': 985,
 'mekan': 986,
 'miscellan': 987,
 'near': 988,
 'noisi': 989,
 'pi': 990,
 'ramen': 991,
 'trip': 992,
 'vancouv': 993,
 'websit': 994,
 'window': 995,
 'endorphin': 996,
 'how': 997,
 'imbib': 998,
 'stair': 999,
 ...}

In [762]:
corpus_broad = [broadway_dict.doc2bow(text) for text in result_broad['text']]

In [765]:
hdp = HdpModel(corpus_broad, id2word = broadway_dict)

In [766]:
topic_info = hdp.print_topics(num_topics=3, num_words=5)
topic_info

[(0, '0.012*minut + 0.008*park + 0.008*restaur + 0.006*fantast + 0.006*walk'),
 (1, '0.007*locat + 0.006*park + 0.005*serv + 0.005*minut + 0.005*outdoor'),
 (2, '0.009*park + 0.009*mile + 0.007*block + 0.006*joe + 0.005*high')]

In [767]:
def find_topics(location):
    area = listings_new.loc[listings_new['neighbourhood_cleansed'] == 'location']
    area = area.drop('neighbourhood_cleansed', axis =1)
    
    exclude = ['capitol','hill', 'seattle', 'neighborhood','walk','walking']
    area["neighborhood_overview"] = area["neighborhood_overview"].str.lower().str.split().apply(lambda x: [item for item in x if item not in exclude])
    
    area['text'] = area['neighborhood_overview'].apply(lambda x: preprocess_string(str(x)))
    area = area.drop('neighborhood_overview',axis =1)

    area_dict = Dictionary(area['text'])

    corpus_area = [area_dict.doc2bow(text) for text in area['text']]
    hdp = HdpModel(corpus_area, id2word = area_dict)

    topic_info = hdp.print_topics(num_topics=3, num_words=5)
    
    return topic_info

In [ ]:
find_topics('Belltown')

In [611]:
#Wallingford Test
wall = listings_new.loc[listings_new['neighbourhood_cleansed'] == 'Wallingford']

In [614]:
wall = wall.drop('neighbourhood_cleansed', axis =1)

In [615]:
exclude = ['capitol','hill', 'seattle', 'neighborhood','walk','walking','wallingford','bellfront']
wall["neighborhood_overview"] = wall["neighborhood_overview"].str.lower().str.split().apply(lambda x: [item for item in x if item not in exclude])

In [616]:
wall['text'] = wall['neighborhood_overview'].apply(lambda x: preprocess_string(str(x)))
wall = wall.drop('neighborhood_overview',axis =1)

In [617]:
wall_dict = Dictionary(wall['text'])

In [756]:
corpus_wall = [wall_dict.doc2bow(text) for text in wall['text']]
hdp = HdpModel(corpus_wall, id2word = wall_dict)
topic_info_wall = hdp.show_topics(num_topics=10, num_words=5, formatted=False)

In [757]:
topic_info_wall

[(0,
  [('recreat', 0.007866457416722763),
   ('amen', 0.007420905391991037),
   ('right', 0.006676928894448375),
   ('court', 0.0064210846153119495),
   ('cake', 0.005397969748357705)]),
 (1,
  [('sampl', 0.0070579961781212855),
   ('wok', 0.005911660112992227),
   ('flower', 0.005674174907749075),
   ('gem', 0.005489436426632409),
   ('archi', 0.005465774884714168)]),
 (2,
  [('burn', 0.00718435170616478),
   ('special', 0.005791271737346041),
   ('ag', 0.005575291944363793),
   ('hundr', 0.005130521233112243),
   ('destin', 0.005115991727813704)]),
 (3,
  [('gyro', 0.009713376639321867),
   ('dedic', 0.007401664587675976),
   ('concert', 0.006808882502899116),
   ('glide', 0.006025024286411992),
   ('begin', 0.005476754543783745)]),
 (4,
  [('sushi', 0.006682775525175087),
   ('destin', 0.005902370925294287),
   ('main', 0.005627050643550498),
   ('improv', 0.00548506879872631),
   ('countless', 0.005126100805166888)]),
 (5,
  [('molli', 0.006265550138497504),
   ('easili', 0.006250213233542727),
   ('fine', 0.005452364916717957),
   ('malaysian', 0.005121275967057357),
   ('wine', 0.005045865288731744)]),
 (6,
  [('help', 0.007672268793405916),
   ('enjoi', 0.006040220177053435),
   ('blue', 0.00590009324466434),
   ('hanker', 0.005863640110217888),
   ('wallingford', 0.005829857970216746)]),
 (7,
  [('decommiss', 0.006736433775611523),
   ('busi', 0.006311039239672869),
   ('tutta', 0.005456010371980134),
   ('tilth', 0.005326766540419747),
   ('intent', 0.004954200650563825)]),
 (8,
  [('gregg', 0.007912912408673678),
   ('south', 0.006284880324736602),
   ('wide', 0.006122864246797925),
   ('sign', 0.005927205144852931),
   ('mkt', 0.005814059002283491)]),
 (9,
  [('hub', 0.007830391143761696),
   ('stroll', 0.006351818291556952),
   ('come', 0.005895555591520655),
   ('cleaner', 0.005731905264453127),
   ('rel', 0.005605545079955309)])]

In [672]:
from gensim.models.coherencemodel import CoherenceModel

In [673]:
topics = []
for topic_id, topic in topic_info_wall:
    topic = [word for word, _ in topic]
    topics.append(topic)

In [674]:
topics

[['take', 'beer', 'look', 'row', 'ton'],
 ['season', 'serv', 'hope', 'instanc', 'concert'],
 ['pub', 'promis', 'exercis', 'item', 'vietnames'],
 ['roaster', 'awai', 'decommiss', 'unit', 'nester'],
 ['definit', 'grab', 'log', 'hiram', 'archi'],
 ['short', 'cottag', 'futur', 'myriad', 'apart'],
 ['circl', 'action', 'book', 'stellar', 'claim'],
 ['hr', 'wok', 'northgat', 'todai', 'yacht'],
 ['fremont', 'restaur', 'view', 'ethnic', 'nearbi'],
 ['kabul', 'machineri', 'leav', 'major', 'cleaner']]

In [675]:
cm = CoherenceModel(topics=topics, corpus=corpus_wall, dictionary=wall_dict, coherence='u_mass')

In [755]:
cm.get_coherence()

-20.546251894739658

In [723]:
num_topics=[2,3,4,5] 
num_words=[3,4,5]
for i in num_topics:
    for x in num_words:
        corpus_wall = [wall_dict.doc2bow(text) for text in wall['text']]
        hdp = HdpModel(corpus_wall, id2word = wall_dict)
        topic_info_wall = hdp.show_topics(num_topics= i, num_words=x, formatted=False)

        topics = []
        for topic_id, topic in topic_info_wall:
            topic = [word for word, _ in topic]
            topics.append(topic)

        cm = CoherenceModel(topics=topics, corpus=corpus_wall, dictionary=wall_dict, coherence='u_mass')
        score = cm.get_coherence()

        print(i,'topics', x, 'words', 'have a coherence score of', score)

2 topics 3 words have a coherence score of -23.414942858551562
2 topics 4 words have a coherence score of -20.06707262266789
2 topics 5 words have a coherence score of -20.294395863426303
3 topics 3 words have a coherence score of -20.77967182230907
3 topics 4 words have a coherence score of -20.142605544482212
3 topics 5 words have a coherence score of -21.18353017017243
4 topics 3 words have a coherence score of -17.690241578099613
4 topics 4 words have a coherence score of -23.375395168687174
4 topics 5 words have a coherence score of -20.30374140570619
5 topics 3 words have a coherence score of -21.892648258613924
5 topics 4 words have a coherence score of -17.95755941397205
5 topics 5 words have a coherence score of -20.546251894739658